<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <iframe id='manifest_iframe_hack'
            style='display: none;'
            src='~/temporary_manifest_hack.html'></iframe> 

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("WeatherApplication", "Index", "Weather", new { area = "" }, new { @class = "navbar-brand" })
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div>
            <span id="detectionSpan"></span>
        </div>
        @RenderBody()

        @if (Request.IsAuthenticated)
        { 
        <footer>
            <p>&copy; @DateTime.Now.Year - WeatherApplication created by Vivi Lam</p>
            <p><small>Weather forecast and icons are delivered by www.yr.no and locationsearch by Geonames.org.</small></p>
        </footer>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
